<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.sdu.ise.labs.dao.SupplyMapper">
  <resultMap id="BaseResultMap" type="cn.edu.sdu.ise.labs.model.Supply">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="district" jdbcType="VARCHAR" property="district" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="property" jdbcType="VARCHAR" property="property" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="sell_date_type" jdbcType="INTEGER" property="sellDateType" />
    <result column="sell_date" jdbcType="TIMESTAMP" property="sellDate" />
    <result column="specification_name" jdbcType="VARCHAR" property="specificationName" />
    <result column="unit" jdbcType="INTEGER" property="unit" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="starting_value" jdbcType="INTEGER" property="startingValue" />
    <result column="transport_type" jdbcType="INTEGER" property="transportType" />
    <result column="clicks" jdbcType="INTEGER" property="clicks" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="created_by" jdbcType="INTEGER" property="createdBy" />
    <result column="updated_by" jdbcType="INTEGER" property="updatedBy" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, category_id, province, city, district, address, property, description, 
    sell_date_type, sell_date, specification_name, unit, price, starting_value, transport_type, 
    clicks, amount, created_by, updated_by, created_at, updated_at, deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from supply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from supply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.sdu.ise.labs.model.Supply">
    insert into supply (id, title, category_id, 
      province, city, district, 
      address, property, description, 
      sell_date_type, sell_date, specification_name, 
      unit, price, starting_value, 
      transport_type, clicks, amount, 
      created_by, updated_by, created_at, 
      updated_at, deleted)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{categoryId,jdbcType=INTEGER}, 
      #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{district,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{property,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{sellDateType,jdbcType=INTEGER}, #{sellDate,jdbcType=TIMESTAMP}, #{specificationName,jdbcType=VARCHAR}, 
      #{unit,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, #{startingValue,jdbcType=INTEGER}, 
      #{transportType,jdbcType=INTEGER}, #{clicks,jdbcType=INTEGER}, #{amount,jdbcType=DECIMAL}, 
      #{createdBy,jdbcType=INTEGER}, #{updatedBy,jdbcType=INTEGER}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.sdu.ise.labs.model.Supply">
    insert into supply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="district != null">
        district,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="property != null">
        property,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="sellDateType != null">
        sell_date_type,
      </if>
      <if test="sellDate != null">
        sell_date,
      </if>
      <if test="specificationName != null">
        specification_name,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="startingValue != null">
        starting_value,
      </if>
      <if test="transportType != null">
        transport_type,
      </if>
      <if test="clicks != null">
        clicks,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null">
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="property != null">
        #{property,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="sellDateType != null">
        #{sellDateType,jdbcType=INTEGER},
      </if>
      <if test="sellDate != null">
        #{sellDate,jdbcType=TIMESTAMP},
      </if>
      <if test="specificationName != null">
        #{specificationName,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="startingValue != null">
        #{startingValue,jdbcType=INTEGER},
      </if>
      <if test="transportType != null">
        #{transportType,jdbcType=INTEGER},
      </if>
      <if test="clicks != null">
        #{clicks,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.sdu.ise.labs.model.Supply">
    update supply
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null">
        district = #{district,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="property != null">
        property = #{property,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="sellDateType != null">
        sell_date_type = #{sellDateType,jdbcType=INTEGER},
      </if>
      <if test="sellDate != null">
        sell_date = #{sellDate,jdbcType=TIMESTAMP},
      </if>
      <if test="specificationName != null">
        specification_name = #{specificationName,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="startingValue != null">
        starting_value = #{startingValue,jdbcType=INTEGER},
      </if>
      <if test="transportType != null">
        transport_type = #{transportType,jdbcType=INTEGER},
      </if>
      <if test="clicks != null">
        clicks = #{clicks,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.sdu.ise.labs.model.Supply">
    update supply
    set title = #{title,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=INTEGER},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      district = #{district,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      property = #{property,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      sell_date_type = #{sellDateType,jdbcType=INTEGER},
      sell_date = #{sellDate,jdbcType=TIMESTAMP},
      specification_name = #{specificationName,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      starting_value = #{startingValue,jdbcType=INTEGER},
      transport_type = #{transportType,jdbcType=INTEGER},
      clicks = #{clicks,jdbcType=INTEGER},
      amount = #{amount,jdbcType=DECIMAL},
      created_by = #{createdBy,jdbcType=INTEGER},
      updated_by = #{updatedBy,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="cn.edu.sdu.ise.labs.model.Supply">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="district" jdbcType="VARCHAR" property="district" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="property" jdbcType="VARCHAR" property="property" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="sell_date_type" jdbcType="INTEGER" property="sellDateType" />
    <result column="sell_date" jdbcType="TIMESTAMP" property="sellDate" />
    <result column="specification_name" jdbcType="VARCHAR" property="specificationName" />
    <result column="unit" jdbcType="INTEGER" property="unit" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="starting_value" jdbcType="INTEGER" property="startingValue" />
    <result column="transport_type" jdbcType="INTEGER" property="transportType" />
    <result column="clicks" jdbcType="INTEGER" property="clicks" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="created_by" jdbcType="INTEGER" property="createdBy" />
    <result column="updated_by" jdbcType="INTEGER" property="updatedBy" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, category_id, province, city, district, address, property, description, 
    sell_date_type, sell_date, specification_name, unit, price, starting_value, transport_type, 
    clicks, amount, created_by, updated_by, created_at, updated_at, deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from supply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from supply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.sdu.ise.labs.model.Supply">
    insert into supply (id, title, category_id, 
      province, city, district, 
      address, property, description, 
      sell_date_type, sell_date, specification_name, 
      unit, price, starting_value, 
      transport_type, clicks, amount, 
      created_by, updated_by, created_at, 
      updated_at, deleted)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{categoryId,jdbcType=INTEGER}, 
      #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{district,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{property,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{sellDateType,jdbcType=INTEGER}, #{sellDate,jdbcType=TIMESTAMP}, #{specificationName,jdbcType=VARCHAR}, 
      #{unit,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, #{startingValue,jdbcType=INTEGER}, 
      #{transportType,jdbcType=INTEGER}, #{clicks,jdbcType=INTEGER}, #{amount,jdbcType=DECIMAL}, 
      #{createdBy,jdbcType=INTEGER}, #{updatedBy,jdbcType=INTEGER}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.sdu.ise.labs.model.Supply">
    insert into supply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="district != null">
        district,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="property != null">
        property,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="sellDateType != null">
        sell_date_type,
      </if>
      <if test="sellDate != null">
        sell_date,
      </if>
      <if test="specificationName != null">
        specification_name,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="startingValue != null">
        starting_value,
      </if>
      <if test="transportType != null">
        transport_type,
      </if>
      <if test="clicks != null">
        clicks,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null">
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="property != null">
        #{property,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="sellDateType != null">
        #{sellDateType,jdbcType=INTEGER},
      </if>
      <if test="sellDate != null">
        #{sellDate,jdbcType=TIMESTAMP},
      </if>
      <if test="specificationName != null">
        #{specificationName,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="startingValue != null">
        #{startingValue,jdbcType=INTEGER},
      </if>
      <if test="transportType != null">
        #{transportType,jdbcType=INTEGER},
      </if>
      <if test="clicks != null">
        #{clicks,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.sdu.ise.labs.model.Supply">
    update supply
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null">
        district = #{district,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="property != null">
        property = #{property,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="sellDateType != null">
        sell_date_type = #{sellDateType,jdbcType=INTEGER},
      </if>
      <if test="sellDate != null">
        sell_date = #{sellDate,jdbcType=TIMESTAMP},
      </if>
      <if test="specificationName != null">
        specification_name = #{specificationName,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="startingValue != null">
        starting_value = #{startingValue,jdbcType=INTEGER},
      </if>
      <if test="transportType != null">
        transport_type = #{transportType,jdbcType=INTEGER},
      </if>
      <if test="clicks != null">
        clicks = #{clicks,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.sdu.ise.labs.model.Supply">
    update supply
    set title = #{title,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=INTEGER},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      district = #{district,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      property = #{property,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      sell_date_type = #{sellDateType,jdbcType=INTEGER},
      sell_date = #{sellDate,jdbcType=TIMESTAMP},
      specification_name = #{specificationName,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      starting_value = #{startingValue,jdbcType=INTEGER},
      transport_type = #{transportType,jdbcType=INTEGER},
      clicks = #{clicks,jdbcType=INTEGER},
      amount = #{amount,jdbcType=DECIMAL},
      created_by = #{createdBy,jdbcType=INTEGER},
      updated_by = #{updatedBy,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>